# Scala & SBT
target/
project/target/
project/project/
.bsp/
.scala-build/

# ===== Metals / IDE =====
.metals/
.bloop/
.vscode/
.idea/
*.iml

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Temporary files =====
*.tmp
*.swp
.env*
